@use '~@mooseical/theme' as *;

.submitted {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  font-size: 3.2rem;
  font-weight: bolder;

  > button {
    margin-top: 5rem;
    font-size: 3.4rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;

    > a {
      font-weight: 400;
    }
  }
}
