@use '~@mooseical/theme' as *;

.musicianCard {
  padding: 1rem 1.2rem;
  margin-top: 1rem;
  text-align: start;
  background-color: $bg-300;
  border-radius: 8px;
  box-shadow: 0 0 2px $black;

  &:hover {
    > *:not(h2) {
      color: $font-400;
    }
  }

  &:focus-visible {
    outline: 1px dotted;
  }
}

.name {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid $theme-400;
  transition: color 0.2s;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.4rem;
  font-size: 1.8rem;
  list-style: none;

  > li > address {
    font-size: 1.4rem;
    font-style: normal;
  }

  > li > time {
    font-size: 1.4rem;
  }
}
