$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 58%);

// BG and Font
$font-400: hsl(0, 0%, 100%);
$bg-300: hsl(220, 5%, 24%);
$bg-400: hsl(0, 0%, 9%);

// Theme
$theme-300: hsl(0, 63%, 51%);
$theme-400: hsl(0, 61%, 48%);
$theme-500: hsl(0, 61%, 42%);
$theme-600: hsl(0, 61%, 32%);
$theme-700: hsl(0, 60%, 17%);
