@use '~@mooseical/global-theme' as *;

.musicCard {
  text-align: start;

  li {
    list-style-type: none;
  }
}

.musicName {
  margin: 0 0 1rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.musicianName {
  > li {
    font-size: 2rem;
    line-height: 1.4;
  }
}

.desc {
  > li {
    margin: 0.8rem 0 0;
    font-weight: 300;
  }
}

.genre {
  font-size: 1.7rem;
}

.time {
  font-size: 1.4rem;
}
