@use '~@mooseical/theme' as *;

.img {
  > span {
    box-shadow: 0 0 10px $black;
  }
}

.musicians {
  max-width: 500px;
  margin: 0 auto 2rem;
  text-align: center;

  a {
    font-weight: 600;
  }
}

.details {
  width: fit-content;
  margin: auto;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: start;
  list-style: none;

  > li > span:first-child {
    font-weight: 400;
  }
}

.copyright {
  margin-top: 4rem;
}
