@use '~@mapledb/theme' as *;

.list {
  > li {
    display: inline;
  }

  > li + li::before {
    font-weight: 300;
    color: $theme-300;
    content: ' & ';
  }
}

.va {
  font-size: 1.2em;
  line-height: 1.4;
}

.nonCad {
  font-weight: 300;
}
